<!DOCTYPE html>
<html lang="en">
<head>
{{meta_seo}}
{{global_css}}

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />

<style>
  body { margin: 0; padding: 0; }
</style>

</head>

<body>

<div class="container">

  {{header_logo_card}}

  {{top_slider_card}}

  {{about_brand}}

  {{product_spotlight}}

  {{specifications}}

  {{our_collection}}

  {{youtube}}

  {{featured_products}}

  {{join_club}}

  {{natural_ingredients}}

  {{social_media}}

  {{contact}}

  {{rate_experience}}

</div>

<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

</body>
</html>
